.shop {
  transition: box-shadow .3s;
}

.shop:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
  cursor: pointer; 
}

.btn:hover {
  box-shadow: 0 0 25px rgba(27, 27, 27, 0.651);
}

.btn-primary.focus, .btn:focus {
  -webkit-box-shadow: none!important;
  box-shadow: none!important;
  outline: 0;
}