.product-card {
  max-width: 100%;
}

.product-cart-title {
  font-size: 20px;
  float: left;
}

.product-cart-text {
  font-size: 20px;
  float: left;
}

.product-image {
  width: 100%; 
  height: 230px;
  object-fit: cover;
  border-radius: 10px;
}

.img-wrapper {
  position: relative;
}

.img-responsive {
  width: 100%;
  height: auto;
}

.img-overlay {
  position: absolute;
  top: 2%;
  bottom: 10%;
  left: 55%;
  right: 0;
  text-align: center;
}

.img-overlay:before {
  content: ' ';
  display: block;
  height: 2%;
}
.paging{
  padding-bottom: 100%;
}

  .body {
    margin: 0;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.5385;
    color: #333;
    text-align: left;
    background-color: #2196F3
}
.mt-50 {
    margin-top: 50px
}

.mb-50 {
    margin-bottom: 50px
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .1875rem
}

.card-img-actions {
    position: relative
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
    text-align: center
}

.card-img {
    width: 350px
}
.bg-light {
  float: left;
}
.star {
    color: red
}

.bg-cart {
    background-color: orange;
    color: #fff;
    size: 20px;
    padding:middle;
}
.btn-warning {
  float:right;
}

.bg-cart:hover {
    color: #fff;
    align-items: center;
}

.bg-buy {
    background-color: green;
    color: #fff;
    padding-right: 13px
}

.bg-buy:hover {
    color: #fff
}
